*{
    font-family: "Helvetica";
}

a{
    text-decoration: none;
    font-size: 1.5em;
}

button{
    font-size: 1.5em;
    border: none;
    background-color: transparent;
}

a:hover{
    font-weight: bolder;

}

.main-grid{
    display: grid;
    grid-template-rows: 150px 270px 150px;
    
}

button:hover{
    font-weight: bolder;
    

}

li{
    list-style: none;
}

.education p{
    margin: 0.1em;

}


.dropdown{
    position: relative;
    display:inline-block;
}

.dropdown-content{
    display: none;
    /* position: absolute; */
    z-index: 1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

/* .main-grid-item{
} */

.top-page-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.grid-item{
    margin: 0.5em;
}

/* middle of the page content */

.middle-page-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 100px 100px 200px;
}

.list-technologies{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

.projects{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

}

/* bottom of the page content */

.bottom-page-container{
    display: grid;
    height:100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}


.water{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    z-index: 1;
}

.water2{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    z-index: 0;
}
.island{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    z-index: 2;
    
}

.tree{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
    z-index: 2;
}

.palm{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    z-index: 3;
}

.about-me{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

.education{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:5;
    z-index: 4;
}





#sky-background{

    background-color: #a4e0d1 ;
}

